<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Portfolio OTA</title>
</head>

<body>
  <th:block th:fragment="footer">
    <footer>
      <div class="container">

        <div class="copy text-center"><small>created by Ryoto Noguchi</small></div>

      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/admin/bootstrap.min.js"></script>
    <script src="/js/admin/custom.js"></script>
  </th:block>
</body>

</html>
