<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Portfolio OTA</title>
</head>

<body>
  <th:block th:fragment="footer">
    <footer id="footer" class="py-5" style="background-color: rgb(149, 222, 255);">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-4">
            <img src="/img/logo.png" alt="" id="footer-logo" style="width: 12rem;">
          </div>
          <div class="col-4">
            <h5 class="footer-category text-center">タイトル</h5>
            <ul class="d-flex justify-content-center">
              <li class="list-unstyled"><a href="#">リンク</a></li>
              <li class="list-unstyled"><a href="#">リンク</a></li>
              <li class="list-unstyled"><a href="#">リンク</a></li>
            </ul>
          </div>
          <div class="col-4">
            <h5 class="footer-category text-center">FOLLOW US !!</h5>
            <ul class="d-flex justify-content-center">
              <li class="list-unstyled"><a href="#"><i class="fab fa-instagram fa-2x mx-3"></i></a></li>
              <li class="list-unstyled"><a href="#"><i class="fab fa-twitter-square fa-2x mx-3"></i></a></li>
              <li class="list-unstyled"><a href="#"><i class="fab fa-line fa-2x mx-3"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- ↓webjars用jQueryの読み込み。⚠️ webjarsを使用する場合、「th」を付けないと機能しない -->
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <!-- fullcalendar -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/bootstrap/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/interaction/main.min.js"></script>

    <!-- ↓webjars用Bootstrapの読み込み -->
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <!-- ↓jQuery UI JSの読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <!-- ↓Bootbox JS の読み込み -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>

    <!-- owl-carousel -->
    <script th:src="@{/js/owl.carousel.min.js}"></script>


  </th:block>


</body>

</html>
