<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Portfolio OTA</title>
</head>

<body>
  <th:block th:fragment="footer">
    <footer id="footer" class="py-5">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-4">
            <!-- <img src="/img/logo.png" alt="" id="footer-logo" style="width: 12rem;"> -->
            <h1 id="footer-logo">adview</h1>
          </div>
          <div class="col-4">
            <h5 class="footer-category text-center">Title</h5>
            <ul class="d-flex">
              <li class="list-unstyled"><a href="#">link</a></li>
              <li class="list-unstyled"><a href="#">link</a></li>
              <li class="list-unstyled"><a href="#">link</a></li>
            </ul>
          </div>
          <div class="col-4">
            <h5 class="footer-category text-center">FOLLOW ME !!</h5>
            <ul class="d-flex">
              <li class="list-unstyled"><a href="https://www.facebook.com/profile.php?id=100008282253974&sk=photos"><i class="fab fa-2x fa-facebook-square" style="color: #3b5998;"></i></a></li>
              <li class="list-unstyled"><a href="https://www.couchsurfing.com/people/ryoto-noguchi"><img src="/img/couchsurfing.png" alt="" style="width: 2rem;"></a></li>
              <li class="list-unstyled"><a href="https://github.com/Ryoto-Noguchi"><i class="fab fa-2x fa-github" style="color: #211F1F;"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- ↓webjars用jQueryの読み込み -->
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <!-- fullcalendar -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/bootstrap/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/interaction/main.min.js"></script>

    <!-- ↓webjars用Bootstrapの読み込み -->
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <!-- ↓jQuery UI JSの読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <!-- ↓Bootbox JS の読み込み -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>

    <!-- owl-carousel -->
    <script th:src="@{/js/owl.carousel.min.js}"></script>

    <script th:inline="javascript" defer>
      /*<![CDATA[*/
      $(function () {
        // ログインボタン押下でログインモーダル表示
        $('#login-btn').on('click', function () {
          bootbox.confirm({
            title: "Please enter your login info",
            message: "<form id='login-info'>\
                      <p class='m-2'>Email</p>\
                      <input id='email' type='email' name='email' required placeholder='example@abc.com'/><br/>\
                      <p class='m-2'>Password</p>\
                      <input id='password' type='password' name='password' required placeholder='●●●●●●'/>\
                      </form>",
            backdrop: true,
            centerVertical: true,
            buttons: {
              confirm: {
                label: '<i class="fa fa-check"></i> Login',
                className: 'btn-info'
              },
              cancel: {
                label: '<i class="fa fa-times"></i> Cancel',
                className: 'btn-secondary'
              }
            },
            callback: function (result) {
              if (result) {
                let jsonString = {
                  'email': $('#email', '.bootbox').val(),
                  'password': $('#password', '.bootbox').val()
                };
                $.ajax({
                  type: 'POST',
                  url: '/portfolio/auth/login',
                  data: JSON.stringify(jsonString),
                  contentType: 'application/json',
                  dataType: 'json'
                }).done(function (result) {
                  let user = result;
                  if (jQuery.isEmptyObject(user)) {
                    bootbox.alert('You have not yet registered. Please sign up first !');
                  } else {
                    login(user);
                    loginCheck();
                    console.log('ログインしました');
                  }
                }).fail(function (result) {
                  console.log('Error: ajax通信に失敗しました');
                }).always(function (result) {
                  console.log("ajax通信しました");
                })

              }
            },
          });
        }); // ログインボタン押下

        // ログアウトボタン押下
        $('#logout-link').on('click', function () {
          $.ajax({
            type: 'POST',
            url: '/portfolio/auth/logout',
            datatype: 'json',
            scriptCharset: 'utf-8'
          }).done(function (result) {
            loginCheck()
            bootbox.alert({
              message: 'You loged out',
              backdrop: true,
              centerVertical: true,
              callback: function () {
                location.replace('/portfolio');
              }
            });
          }).fail(function (result) {
            console.log('Error: ajax通信に失敗しました');
          }).always(function (result) {
            console.log("ajax通信しました");
          })
        });

        // ログイン時のwelcome-msg切り替え処理
        function login(user) {
          let userName = user['userName'];
          $('#welcome-msg').text(`Welcome ${userName} !`);
        }

        // ログイン操作後のnavbar切り替え処理
        function loginCheck() {
          let loginChecker = $('#login-link').prop('class');
          // 非同期通信のため、以下のclassの切り替えを行わないと画面が更新されない
          if (jQuery.isEmptyObject(loginChecker)) { // ログインしている時
            $('#login-link').addClass('hidden');
            $('#signup-link').addClass('hidden');
            $('#logout-link').removeClass('hidden');
            $('#mypage-link').removeClass('hidden');
            $('#bookmark-link').removeClass('hidden');
            $('#reservation-link').removeClass('hidden');
          } else {                                  // ログインしていない時
            $('#welcome-msg').text(`Welcome our Guest!`);
            $('#login-link').removeClass('hidden');
            $('#signup-link').removeClass('hidden');
            $('#logout-link').addClass('hidden');
            $('#mypage-link').addClass('hidden');
            $('#bookmark-link').addClass('hidden');
            $('#reservation-link').addClass('hidden');
          }
        }
      });

      /*]]>*/
    </script>


  </th:block>


</body>

</html>
