<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Portfolio OTA</title>
</head>

<body>
  <th:block th:fragment="footer">
    <footer id="footer" class="py-5" style="background-color: rgb(149, 222, 255);">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-4">
            <img src="/img/logo.png" alt="" id="footer-logo" style="width: 12rem;">
          </div>
          <div class="col-4">
            <h5 class="footer-category text-center">タイトル</h5>
            <ul class="d-flex justify-content-center">
              <li class="list-unstyled"><a href="#">リンク</a></li>
              <li class="list-unstyled"><a href="#">リンク</a></li>
              <li class="list-unstyled"><a href="#">リンク</a></li>
            </ul>
          </div>
          <div class="col-4">
            <h5 class="footer-category text-center">FOLLOW US !!</h5>
            <ul class="d-flex justify-content-center">
              <li class="list-unstyled"><a href="#"><i class="fab fa-instagram fa-2x mx-3"></i></a></li>
              <li class="list-unstyled"><a href="#"><i class="fab fa-twitter-square fa-2x mx-3"></i></a></li>
              <li class="list-unstyled"><a href="#"><i class="fab fa-line fa-2x mx-3"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- ↓webjars用jQueryの読み込み。⚠️ webjarsを使用する場合、「th」を付けないと機能しない -->
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <!-- fullcalendar -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/bootstrap/main.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/interaction/main.min.js"></script>

    <!-- ↓webjars用Bootstrapの読み込み -->
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <!-- ↓jQuery UI JSの読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <!-- ↓Bootbox JS の読み込み -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>

    <!-- owl-carousel -->
    <script th:src="@{/js/owl.carousel.min.js}"></script>

    <script th:inline="javascript" defer>
      /*<![CDATA[*/
      $(function () {
        // ログインボタン押下
        $('#login-btn').on('click', function () {
          bootbox.confirm({
            title: "Please enter your login info",
            message: "<form id='login-info'>\
                      <p class='m-2'>Email</p>\
                      <input id='email' type='email' name='email' required placeholder='example@abc.com'/><br/>\
                      <p class='m-2'>Password</p>\
                      <input id='password' type='password' name='password' required placeholder='●●●●●●'/>\
                      </form>",
            backdrop: true,
            centerVertical: true,
            buttons: {
              confirm: {
                label: '<i class="fa fa-check"></i> Login',
                className: 'btn-primary'
              },
              cancel: {
                label: '<i class="fa fa-times"></i> Cancel',
                className: 'btn-secondary'
              }
            },
            callback: function (result) {
              if (result) {
                let jsonString = {
                  'email': $('#email', '.bootbox').val(),
                  'password': $('#password', '.bootbox').val()
                };
                $.ajax({
                  type: 'POST',
                  url: 'portfolio/auth/login',
                  data: JSON.stringify(jsonString),
                  contentType: 'application/json',
                  dataType: 'json'
                }).done(function (result) {
                  let user = result;
                  if (jQuery.isEmptyObject(user)) {
                    bootbox.alert('You have not yet registered. Please sign up first !');
                  } else {
                    loginCheck();
                    console.log('ログインしました');
                  }
                }).fail(function (result) {
                  console.log('Error: ajax通信に失敗しました');
                }).always(function (result) {
                  console.log("ajax通信しました");
                })

              }
            },
          });
        }); // ログインボタン押下

        $('#logout-link').on('click', function () {
          $.ajax({
            type: 'POST',
            url: '/portfolio/auth/logout',
            datatype: 'json',
            scriptCharset: 'utf-8'
          }).done(function (result) {
            loginCheck()
            bootbox.alert({
              message: 'You loged out',
              backdrop:true,
              centerVertical: true,
              callback: function () {
                location.replace('/portfolio');
              }
            });
          }).fail(function (result) {
            console.log('Error: ajax通信に失敗しました');
          }).always(function (result) {
            console.log("ajax通信しました");
          })
        })

        function loginCheck(user) {
          let loginChecker = $('#login-link').prop('class');
          // 非同期通信のため、以下のclassの切り替えを行わないと画面が更新されない
          if (jQuery.isEmptyObject(loginChecker)) { // ログインしている時
            $('#login-link').addClass('hidden');
            $('#logout-link').removeClass('hidden');
          } else {                                  // ログインしていない時
            $('#login-link').removeClass('hidden');
            $('#logout-link').addClass('hidden');
          }
        }
      });
      /*]]>*/
    </script>


  </th:block>


</body>

</html>
