<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Portfolio OTA</title>
</head>

<body>
  <th:block th:fragment="header">
    <!-- ↓Bootstrap CSSの読み込み -->
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <!-- ↓webjars用font-awesomeの読み込み -->
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.1/css/all.min.css}">
    <!-- ↓font-awesome-animationの読み込み -->
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css"
      type="text/css" media="all" />
    <!-- ↓CSSの読み込み -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <!-- ↓jQueryUIのCSS読み込み -->
    <link rel="stylesheet" href="/css/custom-theme/jquery-ui-1.10.0.custom.css">

    <!-- ↓Owl Carousel -->
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">

    <!-- fullcalendar -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/bootstrap/main.min.css" />

    <!-- ヘッダー -->
    <nav class="navbar navbar-expand-lg navbar-light container" style="line-height: 2rem;">
      <a th:href="@{/portfolio}" class="navbar-brand">
        <img src="/img/logo.png" style="width: 8rem;" alt="トップロゴ">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="searchForm">
        <form th:action="@{/portfolio/search}" method="GET" class="input-group">
          <input type="text" class="pl-2" placeholder="Tokyo Camping" name="keyword" required>
          <div class="input-group-append">
            <button type="submit" class="btn btn-outline-secondary" style="border: 1px solid #ccc;"><i class="fas fa-search"></i></button>
          </div>
        </form>
      </div>
      <div class="welcome-msg-area">
        <p id="welcome-msg" class="welcome-msg m-0" th:text="'Welcome！' + ${loginSession.isLogined() == false ? 'our Guest' : loginSession.getUserName()}"></p>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="#" class="nav-link">reservation</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">notification</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">bookmark</a>
          </li>
          <li class="nav-item">
            <a href="#"><i class="nav-link fas fa-shopping-cart animated-hover faa-wrench"></i></a>
          </li>
          <li id="login-link" class="nav-item" th:class="${loginSession.isLogined() == false ? '' : 'hidden'}">
            <button id="login-btn" type="button" class="nav-link btn btn-muted">Log in</button>
          </li>
          <li id="logout-link" class="nav-item" th:class="${loginSession.isLogined() == true ? '' : 'hidden'}">
            <button id="login-btn" type="button" class="nav-link btn btn-muted">Log out</button>
          </li>
          <li id="signup-link" class="nav-item" th:class="${loginSession.isLogined() == false ? '' : 'hidden'}">
            <button id="signup-btn" type="button" class="nav-link btn btn-muted"><a th:href="@{/portfolio/user}">Sign up</a> </button>
          </li>
          <!-- <li id="signup-link" class="nav-item" th:class="${loginSession.isLogined() == false ? '' : 'hidden'}">
            <button id="signup-btn" type="button" class="nav-link btn btn-muted"><a th:href="@{/portfolio/user/addUser}">Sign-up</a> </button>
          </li> -->
          <li id="mypage-link" class="nav-item" th:class="${loginSession.isLogined() == true ? '' : 'hidden'}">
            <button id="signup-btn" type="button" class="nav-link btn btn-muted"><a th:href="@{/portfolio/mypage}">My page</a></button>
          </li>
        </ul>
      </div>
    </nav>

  </th:block>


</body>

</html>
