<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio OTA</title>
</head>

<body>
  <th:block th:fragment="pagination" th:if="${lastPage > 0}">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item">
          <a th:href="@{/portfolio/search/1}" class="page-link" aria-label="Previous">
            <span aria-hidden="true">&lt;&lt;</span>
          </a>
        </li>
        <li class="page-item" th:if="${page > 1}">
          <a th:href="@{/portfolio/search/{page} (page = ${page})}" class="page-link" aria-label="Previous">
            <span aria-hidden="true">&lt;</span>
          </a>
        </li>
        <li class="page-item" th:with="start = 1, end = ${lastPage}"
          th:each="pageNumber : ${pageNumbers}">
          <a class="page-link" th:href="@{/portfolio/search/{page} (page = ${pageNumber})}" th:text="${pageNumber}"></a>
        </li>
        <li class="page-item" th:if="${lastPage > page + 1 }">
          <a th:href="@{/portfolio/search/{page} (page = ${page + 2})}" class="page-link" aria-label="Next">
            <span aria-hidden="true">&gt;</span>
          </a>
        </li>
        <li class="page-item">
          <a th:href="@{/portfolio/search/{page} (page = ${lastPage})}" class="page-link" aria-label="Next">
            <span aria-hidden="true">&gt;&gt;</span>
          </a>
        </li>
      </ul>
    </nav>
  </th:block>
</body>

</html>
