@charset "UTF-8";
/* css %
cd portfolio/src/main/resources/static/css
node-sass styles.scss styles.css --output-style expanded --watch
Scss自動コンパイルコマンド
*/
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;800&family=Rubik:ital,wght@1,600&display=swap");
body {
  font-family: "Rubik", "M PLUS Rounded 1c", sans-serif;
  background-color: #f9f9fa;
}

.icon::before {
  display: inline-block;
  margin-right: 0.5em;
  font-family: fontawesome;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#top-slide .carousel-item .img-fluid {
  width: 100vw;
  height: 600px;
  object-fit: cover;
}

.card img {
  width: 18rem;
  margin: 2rem;
  height: 12rem;
  border-radius: 1rem;
}

#popular .card img,
#where-to-go .card img,
#what-to-do .card img {
  margin: 0;
}

#features.card {
  display: inline-block;
  /* ここがポイント */
  height: 80px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.card {
  border: none;
}

.stretch-card > .card {
  width: 100%;
  min-width: 100%;
}

.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

@media (max-width: 991.98px) {
  .padding {
    padding: 1.5rem;
  }
}

@media (max-width: 767.98px) {
  .padding {
    padding: 1rem;
  }
}

.padding {
  padding: 3rem;
}

.owl-nav {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2rem;
  color: lightgray;
}

.owl-nav .owl-prev {
  margin: auto 1.5rem;
  outline: none;
}

.owl-nav .owl-next {
  margin: auto 1.5rem;
  outline: none;
}

#testimonial .img-fluid {
  width: 100%;
}

#testimonial .carousel-indicators li {
  width: 1.5rem;
  height: 1.5rem;
  background-color: lightblue;
  border-radius: 50%;
  position: relative;
  top: 5rem;
}

#testimonial .testimonial {
  background-color: lightblue;
  border-radius: 3rem;
  padding: 3rem;
}

.row-eq-height {
  display: flex;
  flex-wrap: wrap;
}

#popular .card-body {
  padding: 0.8rem;
}

#popular .card-title {
  font-size: 1.5rem;
  margin: 0;
}

#popular .card {
  border-radius: 1rem;
}

#popular img {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  object-fit: cover;
}

#popular a {
  color: inherit;
}

#popular a:hover {
  color: inherit;
  text-decoration: none;
  background-color: none;
}

#where-to-go .item {
  position: relative;
}

#where-to-go img {
  display: block;
}

#where-to-go .destination-name {
  position: absolute;
  bottom: 0;
  left: 1rem;
  color: white;
  font-size: 1.6rem;
  display: inline;
}
