/* css %
cd portfolio/src/main/resources/static/css
node-sass styles.scss styles.css --output-style expanded --watch
Scss自動コンパイルコマンド
*/
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;800&family=Rubik:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

main {
  background-color: #fff;
}
.bg-primary,
.btn-primary,
.btn-info {
  color: #fff;
  background-color: #17a2b8 !important;
  border-color: #17a2b8 !important;
  &:hover {
    background-color: #17a2b8;
    border-color: #17a2b8;
  }
}
a:hover {
  text-decoration: none;
  opacity: 0.9;
}
button {
  outline: none !important;
}

// ヘッダー
#header {
  #top-logo {
    font-family: "Sriracha", cursive;
    color: #17a2b8;
  }
  a {
    color: rgba(0, 0, 0, 0.5);
  }

  #welcome-msg {
    margin-left: 6rem;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.5);
  }
}

// フッター
#footer {
  background-color: #f9f9fa;
  #footer-logo {
    font-family: "Sriracha", cursive;
    color: #17a2b8;
  }
  color: lightslategrey;
  a {
    color: lightgrey;
  }
  ul {
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
  }
}

// 全体
.hidden {
  display: none;
}
.navbar-nav {
  .welcome-msg-area {
    margin: auto 1.5rem;
    color: rgba(0, 0, 0, 0.5);
  }
  display: flex;
  justify-content: space-around;
  align-items: center;
  #bookmark-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

body {
  font-family: "Rubik", "M PLUS Rounded 1c", sans-serif;
  background-color: #f9f9fa;
}

input {
  border-radius: 0.5rem;
  border: 1px solid lightgrey;
}
.icon::before {
  display: inline-block;
  margin-right: 0.5em;
  font-family: fontawesome;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// pagination.html
.page-link {
  color: grey !important;
}

// index.html

#top-slide .carousel-item .img-fluid {
  width: 100vw;
  height: 600px;
  object-fit: cover;
}

.card img {
  width: 18rem;
  margin: 2rem;
  height: 12rem;
  border-radius: 0.5rem;
}

#popular,
#where-to-go,
#what-to-do {
  .card img {
    margin: 0;
  }
}

#features {
  &.card {
    display: inline-block; /* ここがポイント */
    height: 80px;
    margin-right: 15px;
    margin-bottom: 15px;
  }
}

.card {
  border: none;
}

.stretch-card > .card {
  width: 100%;
  min-width: 100%;
}

.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

@media (max-width: 991.98px) {
  .padding {
    padding: 1.5rem;
  }
}

@media (max-width: 767.98px) {
  .padding {
    padding: 1rem;
  }
}

.padding {
  padding: 3rem;
}

.owl-nav {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2rem;
  color: lightgray;
  .owl-prev {
    margin: auto 1.5rem;
    outline: none;
  }
  .owl-next {
    margin: auto 1.5rem;
    outline: none;
  }
}

.owl-carousel {
  button.owl-dot {
    outline: none;
  }
}

#testimonial {
  .owl-stage-outer {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .owl-item {
    margin: 0;
    justify-content: center;
    display: flex;
  }
  .img-fluid {
    width: 100%;
  }
  .carousel-indicators li {
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgb(206, 253, 255);
    border-radius: 50%;
    position: relative;
    top: 5rem;
  }
  .item {
    // background-color: lightblue;
    padding: 2rem;
    border-radius: 0.5rem;
    height: 30rem;
    img {
      object-fit: cover;
      width: 10rem !important;
      height: 10rem !important;
    }
    .testimonial-text {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 6;
      overflow: hidden;
    }
  }
  .card.item {
    width: 90%;
    padding: 2rem 0.5rem 2rem 0.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16) !important;
  }
}

.row-eq-height {
  display: flex;
  flex-wrap: wrap;
}

#popular {
  .card-body {
    padding: 0.8rem;
  }
  .card-title {
    font-size: 1.5rem;
    margin: 0;
  }
  .card {
    border-radius: 1rem;
  }
  img {
    // border-bottom-right-radius: 0;
    // border-bottom-left-radius: 0;
    object-fit: cover;
  }
  a {
    color: inherit;
    &:hover {
      color: inherit;
      text-decoration: none;
      background-color: none;
    }
  }
}

#where-to-go,
#what-to-do {
  .item {
    position: relative;
  }
  img {
    display: block;
  }
  .destination-name,
  .category-name {
    position: absolute;
    bottom: 0;
    left: 1rem;
    color: white;
    font-size: 1.6rem;
    display: inline;
  }
}

#article {
  .card img {
    width: 24rem;
    height: 14rem;
    border-radius: 1rem;
    object-fit: cover;
  }
  .card-title {
    font-size: 2rem;
  }
  .card-text {
    font-size: 1.25rem;
  }
}

#destination-tour {
  .tour-img {
    object-fit: cover;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .item {
    margin: 3rem;
    border-radius: 1rem;
  }
}

// product_detail.html
#top-banner {
  .banner-area {
    position: relative;
  }
  .banner-img {
    width: 100%;
    height: 24rem;
    border-radius: 0.5rem;
    object-fit: cover;
  }
  .price-area {
    display: inline;
    position: absolute;
    right: 2rem;
    background-color: white;
    bottom: 2rem;
    border-radius: 0.4rem;
    padding: 1rem;
    font-size: 1.5rem;
  }
  .btn {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    border-radius: 0.5rem;
  }
}

#product-description {
  .card img {
    width: 60%;
    height: 100%;
    margin: 0;
    border-radius: 0.5rem;
  }
}

#fullcalendar {
  .fc-past {
    background-color: rgb(235, 233, 233) !important;
    .fc-day-number {
      color: rgb(172, 172, 172) !important;
    }
  }
  .fc-highlight {
    background-color: red;
  }
  .fc-day.fc-future {
    padding: 1.6rem;
    .price {
      font-size: 0.2rem;
      position: absolute;
      bottom: 20%;
    }
  }
  .reserve-content {
    padding: 6rem 5rem 10rem 5rem;
    #participantsNumber {
      width: 2.5rem;
      text-align: center;
    }
    i {
      color: rgb(0, 183, 255);
    }
  }
  .total-price {
    font-size: 1.8rem;
    text-align: right;
    color: rgb(0, 183, 255);
  }
}

// ログインモーダル
.bootbox-body {
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
  #login-info {
    input {
      border-radius: 0.5rem;
      width: 100%;
      margin-bottom: 1rem;
    }
  }
}

// マイページ
#mypage {
  #file-btn {
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0.4rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }
  .mypage-img {
    width: 10rem;
    margin: 1rem;
    border-radius: 50%;
    height: 10rem;
    object-fit: cover;
  }
  .img-column {
    width: 30%;
    padding: 2rem !important;
    line-height: 8rem;
  }
  .title-btn-area {
    float: right;
    position: absolute;
    right: 1rem;
    bottom: 0.5rem;
  }
}

// reservation_list.html
#reservation-info {
  .reserve-info {
    display: flex;
    justify-content: center;
  }
  .card {
    position: relative;
    margin-bottom: 5rem;
  }
  .card-body {
    position: relative;
  }
  #detail-btn {
    display: inline;
    position: absolute;
    right: 4rem;
    bottom: 45%;
  }
  .btn-area {
    position: absolute;
    right: 3rem;
    bottom: 3rem;
  }
  img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    margin: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

// 検索結果ページ
#searchResult {
  .card {
    margin: 1rem auto;
    border-radius: 1rem;
    img {
      margin: 0;
      width: 100%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      height: 12.5rem;
      object-fit: cover;
    }
  }
}

// カテゴリページ
#tour-category {
  .card {
    margin: 1rem auto;
    border-radius: 1rem;
    img {
      margin: 0;
      width: 100%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      height: 12.5rem;
      object-fit: cover;
    }
  }
}

// ブックマークページ
#bookmark {
  .card {
    margin: 1rem auto;
    border-radius: 1rem;
    img {
      margin: 0;
      width: 100%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      height: 12.5rem;
      object-fit: cover;
    }
  }

  .delete-btn {
    position: absolute;
    right: 0;
    background: transparent;
    border: none;
  }
  .fa-trash-alt {
    color: darkgrey;
  }
}

/* アドミン画面 */

// サイドバー
#sidebar {
  background: #fff;
  color: grey;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding-left: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16) !important;
  margin-top: 3rem;
  a {
    color: grey;
  }
}
.navbar-nav.sidebar {
  align-items: flex-start;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.col-3.sidebar {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16) !important;
  border-radius: 0.5rem;
}

#home {
  .card-title h1 {
    font-size: 1.5rem;
  }
  .card-text p {
    font-size: 1rem;
  }

  .card-margin {
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16) !important;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 0.5rem;
    a {
      color: grey;
      &:hover {
        opacity: 0.9;
      }
    }
  }
}

#account {
  .btn-area {
    display: flex;
    justify-content: flex-end;
  }

  .content-box {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16) !important;
    border-radius: 0.5rem;
    padding-top: 2rem;
  }
}

// admin/user.html
#user {
  tbody tr td {
    vertical-align: middle;
  }
  table {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16) !important;
    padding-top: 2rem;
    img {
      border-radius: 0.25rem;
    }
  }
}

// admin/product.html
#product {
  tbody tr td {
    vertical-align: middle;
  }
  table {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16) !important;
    padding-top: 2rem;
    img {
      border-radius: 0.25rem;
    }
  }
}

// admin/reservation.html
#reservation {
  tbody tr td {
    vertical-align: middle;
  }
  table {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16) !important;
    padding-top: 2rem;
    img {
      border-radius: 0.25rem;
    }
  }
}

// admin/testimonials.html

#testimonials {
  .card {
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16) !important;
    height: 20rem;
    img {
      width: 10rem;
      margin: 0;
      height: 10rem;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
