@charset "UTF-8";
/* css %
cd portfolio/src/main/resources/static/css
node-sass styles.scss styles.css --output-style expanded --watch
Scss自動コンパイルコマンド
*/
.icon::before {
  display: inline-block;
  margin-right: .5em;
  font-family: fontawesome;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.carousel-item .img-fluid {
  width: 100vw;
  height: 600px;
  object-fit: cover;
}

.card img {
  width: 18rem;
  margin: 2rem;
  height: 12rem;
  border-radius: 1rem !important;
  object-fit: cover;
}

#features.card {
  display: inline-block;
  /* ここがポイント */
  height: 80px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.card {
  border: none;
}

.stretch-card > .card {
  width: 100%;
  min-width: 100%;
}

body {
  background-color: #f9f9fa;
}

.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

@media (max-width: 991.98px) {
  .padding {
    padding: 1.5rem;
  }
}

@media (max-width: 767.98px) {
  .padding {
    padding: 1rem;
  }
}

.padding {
  padding: 3rem;
}

.owl-carousel .item {
  margin: 3px;
}

.owl-carousel .item img {
  display: block;
  width: 100%;
  height: auto;
}

.owl-carousel .item {
  margin: 3px;
}

.owl-carousel {
  margin-bottom: 15px;
}
