/* css %
cd portfolio/src/main/resources/static/css
node-sass styles.scss styles.css --output-style expanded --watch
Scss自動コンパイルコマンド
*/

.icon::before {
  display: inline-block;
  margin-right: .5em;
  font-family: fontawesome;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.carousel-item .img-fluid {
  width: 100vw;
  height: 600px;
  object-fit: cover;
}

.card img {
  width: 18rem;
  margin: 2rem;
  height: 12rem;
  border-radius: 1rem !important;
  object-fit: cover;
}

#features {
  &.card {
    display: inline-block; /* ここがポイント */
    height: 80px;
    margin-right: 15px;
    margin-bottom: 15px;
  }
  // &.card-img {
  //   height: 12rem;
  //   object-fit: cover;
  // }
}

.card {
  border: none;
}
