@charset "UTF-8";
/* css %
cd portfolio/src/main/resources/static/css
node-sass styles.scss styles.css --output-style expanded --watch
Scss自動コンパイルコマンド
*/
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;800&family=Rubik:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
main {
  background-color: #fff;
}

.bg-primary,
.btn-primary,
.btn-info {
  color: #fff;
  background-color: #17a2b8 !important;
  border-color: #17a2b8 !important;
}

.bg-primary:hover,
.btn-primary:hover,
.btn-info:hover {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

a:hover {
  text-decoration: none;
  opacity: 0.9;
}

button {
  outline: none !important;
}

#header #top-logo {
  font-family: "Sriracha", cursive;
  color: #17a2b8;
}

#header a {
  color: rgba(0, 0, 0, 0.5);
}

#header #welcome-msg {
  margin-left: 6rem;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.5);
}

#footer {
  background-color: #f9f9fa;
  color: lightslategrey;
}

#footer #footer-logo {
  font-family: "Sriracha", cursive;
  color: #17a2b8;
}

#footer a {
  color: lightgrey;
}

#footer ul {
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

.navbar-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-nav .welcome-msg-area {
  margin: auto 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}

.navbar-nav #bookmark-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

body {
  font-family: "Rubik", "M PLUS Rounded 1c", sans-serif;
  background-color: #f9f9fa;
}

input {
  border-radius: 0.5rem;
  border: 1px solid lightgrey;
}

.icon::before {
  display: inline-block;
  margin-right: 0.5em;
  font-family: fontawesome;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-link {
  color: grey !important;
}

#top-slide .carousel-item .img-fluid {
  width: 100vw;
  height: 600px;
  object-fit: cover;
}

.card img {
  width: 18rem;
  margin: 2rem;
  height: 12rem;
  border-radius: 0.5rem;
}

#popular .card img,
#where-to-go .card img,
#what-to-do .card img {
  margin: 0;
}

#features.card {
  display: inline-block;
  /* ここがポイント */
  height: 80px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.card {
  border: none;
}

.stretch-card > .card {
  width: 100%;
  min-width: 100%;
}

.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

@media (max-width: 991.98px) {
  .padding {
    padding: 1.5rem;
  }
}

@media (max-width: 767.98px) {
  .padding {
    padding: 1rem;
  }
}

.padding {
  padding: 3rem;
}

.owl-nav {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2rem;
  color: lightgray;
}

.owl-nav .owl-prev {
  margin: auto 1.5rem;
  outline: none;
}

.owl-nav .owl-next {
  margin: auto 1.5rem;
  outline: none;
}

.owl-carousel button.owl-dot {
  outline: none;
}

#testimonial .owl-stage-outer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#testimonial .owl-item {
  margin: 0;
  justify-content: center;
  display: flex;
}

#testimonial .img-fluid {
  width: 100%;
}

#testimonial .carousel-indicators li {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #cefdff;
  border-radius: 50%;
  position: relative;
  top: 5rem;
}

#testimonial .item {
  padding: 2rem;
  border-radius: 0.5rem;
  height: 30rem;
}

#testimonial .item img {
  object-fit: cover;
  width: 10rem !important;
  height: 10rem !important;
}

#testimonial .item .testimonial-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}

#testimonial .card.item {
  width: 90%;
  padding: 2rem 0.5rem 2rem 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16) !important;
}

.row-eq-height {
  display: flex;
  flex-wrap: wrap;
}

#popular .card-body {
  padding: 0.8rem;
}

#popular .card-title {
  font-size: 1.5rem;
  margin: 0;
}

#popular .card {
  border-radius: 1rem;
}

#popular img {
  object-fit: cover;
}

#popular a {
  color: inherit;
}

#popular a:hover {
  color: inherit;
  text-decoration: none;
  background-color: none;
}

#where-to-go .item,
#what-to-do .item {
  position: relative;
}

#where-to-go img,
#what-to-do img {
  display: block;
}

#where-to-go .destination-name,
#where-to-go .category-name,
#what-to-do .destination-name,
#what-to-do .category-name {
  position: absolute;
  bottom: 0;
  left: 1rem;
  color: white;
  font-size: 1.6rem;
  display: inline;
}

#article .card img {
  width: 24rem;
  height: 14rem;
  border-radius: 1rem;
  object-fit: cover;
}

#article .card-title {
  font-size: 2rem;
}

#article .card-text {
  font-size: 1.25rem;
}

#destination-tour .tour-img {
  object-fit: cover;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#destination-tour .item {
  margin: 3rem;
  border-radius: 1rem;
}

#top-banner .banner-area {
  position: relative;
}

#top-banner .banner-img {
  width: 100%;
  height: 24rem;
  border-radius: 0.5rem;
  object-fit: cover;
}

#top-banner .price-area {
  display: inline;
  position: absolute;
  right: 2rem;
  background-color: white;
  bottom: 2rem;
  border-radius: 0.4rem;
  padding: 1rem;
  font-size: 1.5rem;
}

#top-banner .btn {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  border-radius: 0.5rem;
}

#top-banner #bookmark-btn {
  color: white;
}

#product-description .card img {
  width: 60%;
  height: 100%;
  margin: 0;
  border-radius: 0.5rem;
}

#fullcalendar .fc-past {
  background-color: #ebe9e9 !important;
}

#fullcalendar .fc-past .fc-day-number {
  color: #acacac !important;
}

#fullcalendar .fc-highlight {
  background-color: red;
}

#fullcalendar .fc-day.fc-future {
  padding: 1.6rem;
}

#fullcalendar .fc-day.fc-future .price {
  font-size: 0.2rem;
  position: absolute;
  bottom: 20%;
}

#fullcalendar .reserve-content {
  padding: 6rem 5rem 10rem 5rem;
}

#fullcalendar .reserve-content #participantsNumber {
  width: 2.5rem;
  text-align: center;
}

#fullcalendar .reserve-content i {
  color: #00b7ff;
}

#fullcalendar .total-price {
  font-size: 1.8rem;
  text-align: right;
  color: #00b7ff;
}

.bootbox-body {
  width: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
}

.bootbox-body #login-info input {
  border-radius: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
}

#mypage #file-btn {
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0.4rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

#mypage .mypage-img {
  width: 10rem;
  margin: 1rem;
  border-radius: 50%;
  height: 10rem;
  object-fit: cover;
}

#mypage .img-column {
  width: 30%;
  padding: 2rem !important;
  line-height: 8rem;
}

#mypage .title-btn-area {
  float: right;
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
}

#reservation-info .reserve-info {
  display: flex;
  justify-content: center;
}

#reservation-info .card {
  position: relative;
  margin-bottom: 5rem;
}

#reservation-info .card-body {
  position: relative;
}

#reservation-info #detail-btn {
  display: inline;
  position: absolute;
  right: 4rem;
  bottom: 45%;
}

#reservation-info .btn-area {
  position: absolute;
  right: 3rem;
  bottom: 3rem;
}

#reservation-info img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  margin: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#searchResult .card {
  margin: 1rem auto;
  border-radius: 1rem;
}

#searchResult .card img {
  margin: 0;
  width: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 12.5rem;
  object-fit: cover;
}

#tour-category .card {
  margin: 1rem auto;
  border-radius: 1rem;
}

#tour-category .card img {
  margin: 0;
  width: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 12.5rem;
  object-fit: cover;
}

#bookmark .card {
  margin: 1rem auto;
  border-radius: 1rem;
}

#bookmark .card img {
  margin: 0;
  width: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  height: 12.5rem;
  object-fit: cover;
}

#bookmark .delete-btn {
  position: absolute;
  right: 0;
  background: transparent;
  border: none;
}

#bookmark .fa-trash-alt {
  color: darkgrey;
}

#notices table {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16) !important;
}

#notices a {
  color: grey;
}

#notice-detail {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#notice-detail .container {
  width: 60%;
}

/* アドミン画面 */
#sidebar {
  background: #fff;
  color: grey;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding-left: 1.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16) !important;
  margin-top: 3rem;
}

#sidebar a {
  color: grey;
}

.navbar-nav.sidebar {
  align-items: flex-start;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.col-3.sidebar {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16) !important;
  border-radius: 0.5rem;
}

#home .card-title h1 {
  font-size: 1.5rem;
}

#home .card-text p {
  font-size: 1rem;
}

#home .card-margin {
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16) !important;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 0.5rem;
}

#home .card-margin a {
  color: grey;
}

#home .card-margin a:hover {
  opacity: 0.9;
}

#account .btn-area {
  display: flex;
  justify-content: flex-end;
}

#account .content-box {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16) !important;
  border-radius: 0.5rem;
  padding-top: 2rem;
}

#user tbody tr td {
  vertical-align: middle;
}

#user table {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16) !important;
  padding-top: 2rem;
}

#user table img {
  border-radius: 0.25rem;
}

#product tbody tr td {
  vertical-align: middle;
}

#product table {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16) !important;
  padding-top: 2rem;
}

#product table img {
  border-radius: 0.25rem;
}

#admin-reservation tbody tr td {
  vertical-align: middle;
}

#admin-reservation table.list {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16) !important;
  padding-top: 2rem;
}

#admin-reservation table.list img {
  border-radius: 0.25rem;
}

#admin-reservation #list-btn:hover, #admin-reservation #calendar-btn:hover {
  opacity: .9;
}

#testimonials .card {
  border: none;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16) !important;
  height: 20rem;
}

#testimonials .card img {
  width: 10rem;
  margin: 0;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
}

#notice table {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16) !important;
}

#notice a {
  color: grey;
}

#notice-detail .card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16) !important;
  padding: 1rem;
  border-radius: .5rem;
}
