<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio OTA</title>
</head>

<body>
  <!-- header挿入 -->
  <header th:insert="fragments/header::header"></header>
  <main id="checkout-page">
    <div class="container">
      <form action='/portfolio/reservation/charge' method='POST' id='checkout-form'>
        <div class="card">
          <div class="row no-gutters">
            <div class="col-6 card-content">
              <div>
                <img th:src="@{{imagePath} (imagePath = ${imagePath})}" alt="" class="card-img-top">
              </div>
            </div>
            <div class="col-6 card-content">
              <div class="card-body">
                <h2 class="card-title" th:text="${productName}"></h2>
                <input type='hidden' th:value='${id}' name='reservationId' />
                <input type='hidden' th:value='${amount}' name='amount' />
                <label class="mr-3" th:inline="text">Price:&nbsp;[[${currency}]]&nbsp;<span th:text='${amount/100}'>&nbsp;</label>
                <!-- NOTE: data-key/data-amount/data-currency will be rendered by Thymeleaf -->
                <script src='https://checkout.stripe.com/checkout.js'
                        class='stripe-button'
                        th:attr='data-key=${stripePublicKey},
                          data-amount=${amount},
                          data-currency=${currency}'
                        th:data-name='${productName}'
                        th:data-image="${imagePath}"
                        data-locale='ja'
                        data-zip-code='false'>
                </script>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </main>
  <!-- footer -->
  <footer th:insert="fragments/footer::footer"></footer>
</body>
</html>
