<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio OTA</title>
  <script src="http://maps.google.com/maps/api/js?key=AIzaSyAxZgTR6saBdSixxHOPGmbTFAzZFHQEJLs&language=ja" async defer></script>
</head>

<body>
  <!-- header挿入 -->
  <header th:insert="fragments/header::header"></header>
  <main role="main">
    <!-- カルーセルスライド -->
    <section id="top-slide">
      <div id="myCarousel" class="carousel slide" data-ride="carousel" th:object="${destinationDetail}">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide="0" class="active"></li>
          <li data-target="#myCarousel" data-slide="1"></li>
          <li data-target="#myCarousel" data-slide="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img th:src="@{{imagePath} (imagePath = *{image1})}" alt="First Slide" class="first-slide img-fluid">
            <div class="container">
              <div class="carousel-caption">
                <h1 class="top-title">This is <span th:text="${destination.destinationName}"></span></h1>
                <p class="top-description">You can go anywhere if you want !</p>
                <p class="top-btn-on-slide">
                  <a href="#" class="btn btn-lg btn-info" role="button">See Photos</a>
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img th:src="@{{imagePath} (imagePath = *{image2})}" alt="First Slide" class="second-slide img-fluid">
            <div class="container">
              <div class="carousel-caption">
                <h1 class="top-title">This is <span th:text="${destination.destinationName}"></span></h1>
                <p class="top-description">You can go anywhere if you want !</p>
                <p class="top-btn-on-slide">
                  <a href="#" class="btn btn-lg btn-info" role="button">See Photos</a>
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img th:src="@{{imagePath} (imagePath = *{image3})}" alt="First Slide" class="second-slide img-fluid">
            <div class="container">
              <div class="carousel-caption">
                <h1 class="top-title">This is <span th:text="${destination.destinationName}"></span></h1>
                <p class="top-description">You can go anywhere if you want !</p>
                <p class="top-btn-on-slide">
                  <a href="#" class="btn btn-lg btn-info" role="button">See Photos</a>
                </p>
              </div>
            </div>
          </div>
        </div><!-- carousel-inner -->
        <a href="#myCarousel" role="button" class="carousel-control-prev" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a href="#myCarousel" role="button" class="carousel-control-next" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div><!-- carousel -->
    </section>

    <!-- 記事 -->
    <section id="article">
      <div class="card">
        <div class="container my-5" th:object="${destinationDetail}">
          <div class="row no-gutters my-5">
            <div class="col-md-6">
              <div class="d-flex justify-content-center">
                <img th:src="@{{imagePath} (imagePath = *{image1})}" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h3 class="card-title" th:text="*{articleTitle1}"></h3>
                <p class="card-text" th:text="*{articleText1}"></p>
              </div>
            </div>
          </div><!-- row -->
          <div class="row no-gutters my-5">
            <div class="col-md-6 order-last">
              <div class="d-flex justify-content-center">
                <img th:src="@{{imagePath} (imagePath = *{image2})}" alt="">
              </div>
            </div>
            <div class="col-md-6 order-first">
              <div class="card-body">
                <h3 class="card-title" th:text="*{articleTitle2}"></h3>
                <p class="card-text" th:text="*{articleText2}"></p>
              </div>
            </div>
          </div><!-- row -->
          <div class="row no-gutters my-5">
            <div class="col-md-6">
              <div class="d-flex justify-content-center">
                <img th:src="@{{imagePath} (imagePath = *{image3})}" alt="">
              </div>
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <h3 class="card-title" th:text="*{articleTitle3}"></h3>
                <p class="card-text" th:text="*{articleText3}"></p>
              </div>
            </div>
          </div><!-- row -->
        </div><!-- container -->
      </div>
    </section>


    <section id="youtube" th:if="${destinationDetail.moviePath}" class="text-center">
      <iframe width="560" height="315" th:src="@{{path} (path = ${destinationDetail.moviePath})}" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </section>

    <!-- ツアー -->
    <section id="destination-tour">
      <div class="page-content page-container" id="page-content">
        <div class="padding">
          <div class="row container-fluid justify-content-center">
            <h2 class="section-title">Tours in <span th:text="${destination.destinationName}"></span></h2>
            <div class="col-lg-12 grid-margin stretch-card owl-carousel owl-theme" id="tours-carousel">
              <div class="card item" th:each="product: ${products}" th:object="${product}">
                <div class="my-0 m-auto">
                  <img th:src="@{{imagePath} (imagePath = *{productImage})}" alt="" class="card-img-top tour-img m-0">
                </div>
                <div class="card-body">
                  <h4 class="card-title" th:text="*{productName}" th:value="*{id}"></h4>
                </div><!-- card-body -->
              </div><!-- card -->
            </div><!-- col -->
          </div><!-- row -->
        </div>
    </section>

    <!-- Google Maps -->
    <section id="google-map">
      <div id="map"></div>
    </section>

  </main>
  <!-- footer -->
  <footer th:insert="fragments/footer::footer"></footer>

  <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    $(document).ready(function () {
      let latitude = /*[[${destinationDetail.latitude}]]*/ 0;
      console.log(latitude);
      let longitude = /*[[${destinationDetail.longitude}]]*/ 0;
      console.log(longitude);
      var MyLatLng = new google.maps.LatLng(latitude, longitude);
      var Options = {
        zoom: 15,      //地図の縮尺値
        center: MyLatLng,    //地図の中心座標
        mapTypeId: 'roadmap'   //地図の種類
      };
      var map = new google.maps.Map(document.getElementById('map'), Options);

      // idをつけてそれ用の初期化を記述すれば複数のowe - carouselができる(https://support.fruitfulcode.com/hc/en-us/articles/115004837994-Multiple-carousels-at-one-page)
        $('#tours-carousel').owlCarousel({
          loop: true,
          margin: 10,
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 3
            }
          }
        });

      $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        responsive: {
          0: {
            items: 1
          },
          600: {
            items: 3
          },
          1000: {
            items: 5
          }
        }
      });
    });

    /*]]>*/
  </script>
</body>

</html>
