<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <!-- testimonial -->
    <section id="testimonial">
      <!-- Section: Testimonials v.4 -->
      <section class="text-center my-5">

        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold my-5">Testimonials</h2>

        <!-- Grid row -->
        <div class="row justify-content-center">

          <!--Carousel Wrapper-->
          <div id="multi-item-example" class="carousel testimonial-carousel slide carousel-multi-item mb-5"
            data-ride="carousel">


            <!--Indicators-->
            <ol class="carousel-indicators">
              <li data-target="#multi-item-example" data-slide-to="0" class="active light-blue darken-4"></li>
              <li data-target="#multi-item-example" data-slide-to="1" class="light-blue darken-4"></li>
              <li data-target="#multi-item-example" data-slide-to="2" class="light-blue darken-4"></li>
            </ol>
            <!--Indicators-->

            <!--Slides-->
            <div class="carousel-inner" role="listbox">

              <!--First slide-->
              <div class="carousel-item active">
                <div class="container">
                  <div class="row justify-content-center">
                    <!--Grid column-->
                    <div class="col-md-4 px-5 row-eq-height">
                      <div class="testimonial">
                        <!--Avatar-->
                        <div class="avatar mx-auto">
                          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(26).jpg"
                            class="rounded-circle img-fluid">
                        </div>
                        <!--Content-->
                        <h4 class="font-weight-bold mt-4">Anna Deynah</h4>
                        <h6 class="blue-text font-weight-bold my-3">Web Designer</h6>
                        <p class="font-weight-normal"><i class="fas fa-quote-left pr-2"></i>Lorem ipsum dolor sit amet,
                          consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>
                        <!--Review-->
                        <div class="grey-text">
                          <i class="fas fa-star"> </i>
                          <i class="fas fa-star"> </i>
                          <i class="fas fa-star"> </i>
                          <i class="fas fa-star"> </i>
                          <i class="fas fa-star-half-alt"> </i>
                        </div>
                      </div>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-4 px-5 row-eq-height">
                      <div class="testimonial">
                        <!--Avatar-->
                        <div class="avatar mx-auto">
                          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg"
                            class="rounded-circle img-fluid">
                        </div>
                        <!--Content-->
                        <h4 class="font-weight-bold mt-4">John Doe</h4>
                        <h6 class="blue-text font-weight-bold my-3">Web Developer</h6>
                        <p class="font-weight-normal"><i class="fas fa-quote-left pr-2"></i>Ut enim ad minima veniam,
                          quis
                          nostrum exercitationem ullam corporis laboriosam.</p>
                        <!--Review-->
                        <div class="grey-text">
                          <i class="fas fa-star"> </i>
                          <i class="fas fa-star"> </i>
                          <i class="fas fa-star"> </i>
                          <i class="fas fa-star"> </i>
                          <i class="fas fa-star"> </i>
                        </div>
                      </div>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-4 px-5 row-eq-height">
                      <div class="testimonial">
                        <!--Avatar-->
                        <div class="avatar mx-auto">
                          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
                            class="rounded-circle img-fluid">
                        </div>
                        <!--Content-->
                        <h4 class="font-weight-bold mt-4">Abbey Clark</h4>
                        <h6 class="blue-text font-weight-bold my-3">Photographer</h6>
                        <p class="font-weight-normal"><i class="fas fa-quote-left pr-2"></i>Quis autem vel eum iure
                          reprehenderit qui in ea voluptate velit esse quam nihil molestiae.</p>
                        <!--Review-->
                        <div class="grey-text">
                          <i class="fas fa-star"> </i>
                          <i class="fas fa-star"> </i>
                          <i class="fas fa-star"> </i>
                          <i class="fas fa-star"> </i>
                          <i class="far fa-star"> </i>
                        </div>
                      </div>
                    </div>
                    <!--Grid column-->
                  </div><!-- row -->
                </div><!-- container -->
              </div><!-- carousel-item -->
              <!--First slide-->

              <!--Second slide-->
              <div class="carousel-item">
                <div class="container">
                  <div class="row justify-content-center">
                    <!--Grid column-->
                    <div class="col-md-4 px-5 row-eq-height">
                      <div class="testimonial">
                        <!--Avatar-->
                        <div class="avatar mx-auto">
                          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(4).jpg"
                            class="rounded-circle img-fluid">
                        </div>
                        <!--Content-->
                        <h4 class="font-weight-bold mt-4">Blake Dabney</h4>
                        <h6 class="blue-text font-weight-bold my-3">Web Designer</h6>
                        <p class="font-weight-normal"><i class="fas fa-quote-left pr-2"></i>Ut enim ad minima veniam,
                          quis
                          nostrum exercitationem ullam corporis laboriosam.</p>
                        <!--Review-->
                        <div class="grey-text">
                          <i class="fas fa-star"> </i>
                          <i class="fas fa-star"> </i>
                          <i class="fas fa-star"> </i>
                          <i class="fas fa-star"> </i>
                          <i class="fas fa-star-half-alt"> </i>
                        </div>
                      </div>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-4 px-5 row-eq-height ">
                      <div class="testimonial">
                        <!--Avatar-->
                        <div class="avatar mx-auto">
                          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(6).jpg"
                            class="rounded-circle img-fluid">
                        </div>
                        <!--Content-->
                        <h4 class="font-weight-bold mt-4">Andrea Clay</h4>
                        <h6 class="blue-text font-weight-bold my-3">Front-end developer</h6>
                        <p class="font-weight-normal"><i class="fas fa-quote-left pr-2"></i>Lorem ipsum dolor sit amet,
                          consectetur adipisicing elit. Quod eos id officiis hic tenetur quae.</p>
                        <!--Review-->
                        <div class="grey-text">
                          <i class="fas fa-star"> </i>
                          <i class="fas fa-star"> </i>
                          <i class="fas fa-star"> </i>
                          <i class="fas fa-star"> </i>
                          <i class="fas fa-star"> </i>
                        </div>
                      </div>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-4 px-5 row-eq-height">
                      <div class="testimonial">
                        <!--Avatar-->
                        <div class="avatar mx-auto">
                          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(7).jpg"
                            class="rounded-circle img-fluid">
                        </div>
                        <!--Content-->
                        <h4 class="font-weight-bold mt-4">Cami Gosse</h4>
                        <h6 class="blue-text font-weight-bold my-3">Phtographer</h6>
                        <p class="font-weight-normal"><i class="fas fa-quote-left pr-2"></i>At vero eos et accusamus et
                          iusto odio dignissimos ducimus qui blanditiis praesentium.</p>
                        <!--Review-->
                        <div class="grey-text">
                          <i class="fas fa-star"> </i>
                          <i class="fas fa-star"> </i>
                          <i class="fas fa-star"> </i>
                          <i class="fas fa-star"> </i>
                          <i class="far fa-star"> </i>
                        </div>
                      </div>
                    </div>
                    <!--Grid column-->
                  </div><!-- row -->
                </div><!-- conatainer -->
              </div>
              <!--Second slide-->

              <!--Third slide-->
              <div class="carousel-item">
                <div class="container">
                  <div class="row justify-content-center">
                    <!--Grid column-->
                    <div class="col-md-4 px-5 row-eq-height">
                      <div class="testimonial">
                        <!--Avatar-->
                        <div class="avatar mx-auto">
                          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg"
                            class="rounded-circle img-fluid">
                        </div>
                        <!--Content-->
                        <h4 class="font-weight-bold mt-4">Bobby Haley</h4>
                        <h6 class="blue-text font-weight-bold my-3">Web Developer</h6>
                        <p class="font-weight-normal"><i class="fas fa-quote-left pr-2"></i>Lorem ipsum dolor sit amet,
                          consectetur adipisicing elit. Quod eos id officiis hic tenetur quae.</p>
                        <!--Review-->
                        <div class="grey-text">
                          <i class="fas fa-star"> </i>
                          <i class="fas fa-star"> </i>
                          <i class="fas fa-star"> </i>
                          <i class="fas fa-star"> </i>
                          <i class="fas fa-star"> </i>
                        </div>
                      </div>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-4 px-5 row-eq-height ">
                      <div class="testimonial">
                        <!--Avatar-->
                        <div class="avatar mx-auto">
                          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg"
                            class="rounded-circle img-fluid">
                        </div>
                        <!--Content-->
                        <h4 class="font-weight-bold mt-4">Elisa Janson</h4>
                        <h6 class="blue-text font-weight-bold my-3">Marketer</h6>
                        <p class="font-weight-normal"><i class="fas fa-quote-left pr-2"></i>At vero eos et accusamus et
                          iusto odio dignissimos ducimus qui blanditiis praesentium.</p>
                        <!--Review-->
                        <div class="grey-text">
                          <i class="fas fa-star"> </i>
                          <i class="fas fa-star"> </i>
                          <i class="fas fa-star"> </i>
                          <i class="fas fa-star"> </i>
                          <i class="fas fa-star-half-alt"> </i>
                        </div>
                      </div>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-4 px-5 row-eq-height ">
                      <div class="testimonial">
                        <!--Avatar-->
                        <div class="avatar mx-auto">
                          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg"
                            class="rounded-circle img-fluid">
                        </div>
                        <!--Content-->
                        <h4 class="font-weight-bold mt-4">Rob Jacobs</h4>
                        <h6 class="blue-text font-weight-bold my-3">Front-end developer</h6>
                        <p class="font-weight-normal"><i class="fas fa-quote-left pr-2"></i>Ut enim ad minima veniam,
                          quis
                          nostrum exercitationem ullam corporis laboriosam.</p>
                        <!--Review-->
                        <div class="grey-text">
                          <i class="fas fa-star"> </i>
                          <i class="fas fa-star"> </i>
                          <i class="fas fa-star"> </i>
                          <i class="fas fa-star"> </i>
                          <i class="far fa-star"> </i>
                        </div>
                      </div>
                    </div>
                    <!--Grid column-->
                  </div>
                </div>
              </div>
              <!--Third slide-->
            </div>
            <!--Slides-->
          </div>
          <!--Carousel Wrapper-->

        </div>
        <!-- Grid row -->

      </section>
      <!-- Section: Testimonials v.4 -->
    </section>
</body>
</html>
