<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio OTA</title>
</head>

<body>
  <!-- header挿入 -->
  <header th:insert="fragments/header::header"></header>
  <main role="main">
    <section id="mypage">
      <div class="container text-center mt-5">
        <div class="d-flex justify-content-center align-items-center mb-5" style="position: relative;">
          <h2 class="page-title text-center mb-">My Page</h2>
          <div class="title-btn-area d-flex">
            <a th:href="@{/portfolio/reservation}" class="btn btn-primary mx-2">Bookings</a>
            <a th:href="@{/portfolio/reservation/history}" class="btn btn-primary mx-2">Histories</a>
          </div>
        </div>
        <div class="container-fluid mb-5 table-responsive-md">
          <form th:action="@{/portfolio/user/modify}" method="post" enctype="multipart/form-data">
            <table class="table table-hover table-bordered table-responsive-md text-center" th:object="${user}">
              <tr>
                <th scope="row" class="img-column">Profile Picture</th>
                <td style="position: relative;">
                  <img th:src="${'data:image/png;base64,'+image}"
                    th:class="${user.getUserImg().length == 0 ? 'hidden' : 'mypage-img'}">
                  <img src="/img/avator.png" alt="" th:class="${user.getUserImg().length == 0 ? 'mypage-img' : 'hidden'}">
                  <label id="file-btn" for="userImg" class="bg-primary text-white">Choose your photo</label>
                  <input type="file" name="file" id="userImg" style="display: none;">
                  <p id="selected-status" class="mt-1">[Not yet selcted]</p>
                </td>
              </tr>
              <tr>
                <th scope="row" style="width: 30%;">User Name</th>
                <td class="normal">
                  <span th:text="*{userName}"></span>
                </td>
                <td class="modify hidden">
                  <span><input type="text" name="userName" th:value="*{userName}" th:placeholder="*{userName}"
                      style="width: 40%;" required></span>
                </td>
              </tr>
              <tr>
                <th scope="row" style="width: 30%;">Full Name</th>
                <td class="normal">
                  <span th:text="*{familyName}"></span><span th:text="*{firstName}"></span>
                </td>
                <td class="modify hidden">
                  <span><input type="text" name="familyName" th:value="*{familyName}" th:placeholder="*{familyName}"
                      style="width: 20%;" required></span>&nbsp;
                  <span><input type="text" name="firstName" th:value="*{firstName}" th:placeholder="*{firstName}"
                      style="width: 20%;" required></span>
                </td>
              </tr>
              <tr>
                <th scope="row" style="width: 30%;">Password</th>
                <td class="normal">
                  <span id="asters"></span>
                </td>
                <td class="modify hidden">
                  <span><input type="password" name="password" id="newPassword" th:value="*{password}"
                      placeholder="******" style="width: 40%;" required></span>
                </td>
              </tr>
              <tr>
                <th scope="row" style="width: 30%;">E-mail</th>
                <th class="normal">
                  <span id="email" th:text="*{email}"></span>
                </th>
                <th class="modify hidden">
                  <span><input type="email" name="email" id="newEmail" th:value="*{email}" th:placeholder="*{email}"
                      style="width: 40%;" required></span>
                </th>
              </tr>
              <tr>
                <th scope="row" style="width: 30%;">Gender</th>
                <td th:text="*{gender == 'M' ? 'Male' : 'Female'}"></td>
              </tr>
            </table>
            <div class="btn-area">
              <button id="modify-btn" class="btn btn-info" type="button">Modify</button>
              <button id="cancel-btn" class="btn btn-warning hidden" type="button">Cancel</button>
              <button id="submit-btn" class="btn btn-primary hidden" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </main>
  <!-- footer -->
  <footer th:insert="fragments/footer::footer"></footer>

  <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {

      /* パスワードのマスク */
      let password = /*[[${user.password}]]*/ 'password';
      let asters = '';
      /* 実際のパスワードの文字数分 「●」 を表示する */
      for (let i = 0; i < password.length; i++) {
        asters += '●';
      }
      $('#asters').text(asters);

      /* プロフィール画像変更ボタン押下時 */
      $('#userImg').change(function () {
        var file = $(this).prop('files')[0];
        if (!file.type.match('image.*')) {
          // クリア
          $(this).val('');
          return;
        }
        $('#selected-status').text(`Selected photo : [${file.name}]`);
        const fd = new FormData();
        fd.append('file', $('input[type=file]')[0].files[0]);
        $.ajax({
          url: '/portfolio/user/imgUpload',
          type: "POST",
          data: fd,
          enctype: 'multipart/form-data',
          processData: false,
          contentType: false,
          cache: false
        }).done(function (bool) {
          if (bool == true) {
            bootbox.alert({
              message: 'Your photo has just changed now!',
              backdrop: true,
              centerVertical: true,
              callback: function () {
                var f = $('input[name=file]').prop('files')[0];
                var reader = new FileReader();
                reader.onload = function () {
                  var img_src = $('.mypage-img').attr('src', reader.result);
                }
                reader.readAsDataURL(f);
                console.log('画像ファイルをimgフォルダに格納しました');
              }
            })
          }
        }).fail(function () {
          console.log('Error: ajax通信に失敗しました');
        }).always(function (result) {
          console.log("ajax通信しました");
        })
      });

      /* 修正ボタン押下時 */
      $('#modify-btn').on('click', function () {
        $('.normal').addClass('hidden');
        $('.modify').removeClass('hidden');
        $('#modify-btn').addClass('hidden');
        $('#cancel-btn').removeClass('hidden');
        $('#submit-btn').removeClass('hidden');
      });

      /*キャンセルボタン押下時*/
      $('#cancel-btn').on('click', function () {
        $('.normal').removeClass('hidden');
        $('.modify').addClass('hidden');
        $('#modify-btn').removeClass('hidden');
        $('#cancel-btn').addClass('hidden');
        $('#submit-btn').addClass('hidden');
      });

      /*修正完了ダイアログの初期化*/
      var dialog = bootbox.dialog({
        message: '<p class="text-center mb-0">Your profile picture has changed</p>',
        backdrop: true,
        centerVertical: true,
        show: false
      });

      /*ユーザ情報更新後のアラート表示*/
      const completeMsg = /*[[${completeMsg}]]*/ '';
      console.log("completeMsg : " + completeMsg);
      if (completeMsg) {
        dialog.modal('show');
      }
    });

    /*]]>*/
  </script>
</body>

</html>
