<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio OTA</title>
</head>

<body>
  <!-- header挿入 -->
  <header th:insert="fragments/header::header"></header>
  <main role="main" class="pt-5">
    <section id="top-banner">
      <div class="container" th:object="${productDetail}">
        <div class="banner-area">
          <img th:src="@{{imagePath} (imagePath = *{image})}" class="banner-img" alt="">
          <div class="price-area">
            <span class="price">
              <samll>from</samll>&nbsp;USD&nbsp;<span th:text="*{price}"></span>
            </span>
          </div>
          <a href="#" class="btn btn-light">View more photos</a>
        </div>
      </div>
    </section>

    <section id="page-title" class="text-center my-5" th:object="${product}">
      <h1 th:text="*{productName}"></h1>
    </section>

    <section id="product-description">
      <div class="container mb-5">
        <div class="row">
          <div class="col-12">
            <div class="card" th:object=${productDetail}>
              <div class="card-body">
                <h3 th:text="*{articleTitle}"></h3>
                <p th:text="*{articleText}"></p>
              </div>
              <div class="text-center p-3">
                <img th:src="@{{imagePath} (imagePath = *{image})}" alt="" class="card-img">
              </div>
            </div>
          </div>
        </div>
    </section>

    <section id="fullcalendar">
      <div class="container mb-5">
        <div class="row">
          <div class="col-md-6">
            <div id="calendar"></div>
          </div>
          <div class="col-md-6 reserve-content">
            <div class="">
              <form class="form-group d-felx justify-content-center">
                <div class="my-4">
                  <h5>Date</h5>
                  <h6 style="display: inline-block;">Selected Date :</h6>
                  <input id="selectedDate" type="text" value=" " readonly required>
                </div>

                <div class="counter-row">
                  <h5>Number of Participant</h5>
                  <h6 class="counter-name" style="display: inline-block;">Adult<small>(age : more than 12)</small>:</h6>
                  <div class="counter" style="display: inline-block;">
                    <button id="minus-counter" disabled type="button" class="btn"><i
                        class="fas fa-2x fa-minus-circle"></i></button>
                    <input id="participantsNumber" type="number" value="0" step="1" min="0" pattern="^[0-9]+$" readonly
                      required>
                    <button id="plus-counter" type="button" class="btn"><i
                        class="fas fa-2x fa-plus-circle"></i></button>
                  </div>
                </div>

                <div th:object="${product}">
                  <input id="selectedProductId" type="hidden" th:value="*{id}">
                  <input id="selectedProductName" type="hidden" th:value="*{productName}">
                </div>

                <hr>
                <div class="total-area">
                  <h6 class="total-price"><small>Order total</small>&nbsp;USD&nbsp;<span id="total-price">0</span></h6>
                </div>
                <div class="btn-area text-right">
                  <button id="bookmark-btn" class="btn" style="background-color: skyblue; color: #fff;"
                    type="button">Add to Bookmark</button>
                  <button id="book-btn" class="btn btn-info" type="button">Book Now</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- footer -->
  <footer th:insert="fragments/footer::footer"></footer>
  <script th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/
    var bool = /*[[${loginSession.isLogined()}]]*/ false;
    var price = /*[[${productDetail.price}]]*/ 0;
    /*]]>*/
  </script>
  <script th:inline="javascript" th:src="@{/js/product_detail.js}"></script>

</body>

</html>
