<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio OTA</title>
</head>

<body>
  <!-- header挿入 -->
  <header th:insert="fragments/header::header"></header>
  <main role="main">
    <section id="top-banner">
      <div class="container" th:object="${productDetail}">
        <div class="banner-area">
          <img th:src="@{{imagePath} (imagePath = *{image})}" class="banner-img" alt="">
          <div class="price-area">
            <span class="price">
              <samll>from</samll>&nbsp;USD&nbsp;<span th:text="*{price}"></span>
            </span>
          </div>
          <a href="#" class="btn btn-light">View more photos</a>
        </div>
      </div>
    </section>

    <section id="page-title" class="text-center my-5" th:object="${product}">
      <h1 th:text="*{productName}"></h1>
    </section>

    <section id="product-description">
      <div class="container mb-5">
        <div class="row">
          <div class="col-12">
            <div class="card" th:object=${productDetail}>
              <div class="card-body">
                <h3 th:text="*{articleTitle}"></h3>
                <p th:text="*{articleText}"></p>
              </div>
              <div class="text-center p-3">
                <img th:src="@{{imagePath} (imagePath = *{image})}" alt="" class="card-img">
              </div>
            </div>
          </div>
        </div>
    </section>

    <section id="fullcalendar">
      <div class="container mb-5">
        <div class="row">
          <div class="col-md-6">
            <div id="calendar"></div>
          </div>
          <div class="col-md-6 reserve-content">
            <div class="">
              <form class="form-group d-felx justify-content-center">
                <div class="my-4">
                  <h5>Date</h5>
                  <h6 style="display: inline-block;">Selected Date :</h6>
                  <input id="selectedDate" type="text" value="" readonly required>
                </div>

                <div class="counter-row">
                  <h5>Number of Participant</h5>
                  <h6 class="counter-name" style="display: inline-block;">Adult<small>(age : more than 12)</small>:</h6>
                  <div class="counter" style="display: inline-block;">
                    <button id="minus-counter" disabled type="button" class="btn"><i
                        class="fas fa-2x fa-minus-circle"></i></button>
                    <input id="participantsNumber" type="number" value="0" step="1" min="0" pattern="^[0-9]+$" readonly
                      required>
                    <button id="plus-counter" type="button" class="btn"><i
                        class="fas fa-2x fa-plus-circle"></i></button>
                  </div>
                </div>

                <div th:object="${product}">
                  <input id="selectedProductId" type="hidden" th:value="*{productId}">
                  <input id="selectedProductName" type="hidden" th:value="*{productName}">
                </div>

                <hr>
                <div class="total-area">
                  <h6 class="total-price"><small>Order total</small>&nbsp;USD&nbsp;<span id="total-price">0</span></h6>
                </div>
                <div class="btn-area text-right">
                  <button id="bookmark-btn" class="btn btn-info " type="button">Add to Bookmark</button>
                  <button id="book-btn" class="btn btn-info" type="button">Book Now</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- footer -->
  <footer th:insert="fragments/footer::footer"></footer>

  <script th:inline="javascript" type="text/javascript">
    /*<![CDATA[*/

    /* fullcalendarの初期設定*/
    document.addEventListener('DOMContentLoaded', function () {
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: ['dayGrid', 'bootstrap', 'interaction'],
        themeSystem: 'bootstrap',
        defaultView: 'dayGridMonth',
        header: {
          left: 'today',
          center: 'title',
          right: 'prev next'
        },
        selectable: true,
        selectAllow: function (selectInfo) {
          let today = new Date();
          if (selectInfo.start < today) {
            return false;
          } else {
            return true;
          }
        },
        dateClick: function (info) {
          // 日付選択をしたその値をinputのvalueに書き換え
          let selectedDate = info.dateStr;
          $('#selectedDate').text(selectedDate);
          $('#selectedDate').val(selectedDate);
        }
      });

      calendar.render();
    });

    $(function () {

      /* ブックマークボタン押下時 */
      $('#bookmark-btn').on('click', function () {
        let productId = $('#selectedProductId').val();
        $.ajax({
          type: 'POST',
          url: '/portfolio/bookmark/add',
          data: productId,
          contentType: 'application/json',
          dataType: 'json',
        }).done(function () {
          bootbox.alert('This product has been added in you BOOKMARK')
        }).fail(function () {
          bootbox.alert('Something went wrong. Please try again');
        }).always(function () {
          console.log('ajax通信しました');
        });
      })

      /* カレンダーに値段を表示 */
      showPrice();

      /* 予約ボタン押下時*/
      $('#book-btn').on('click', function () {
        var box = bootbox.confirm({
          title: "Please make sure your order is correct.",
          message: "<form id='reservConf' action='/portfolio/reservation/reserve' method='POST' name='reservationForm'>\
                    <table class='table table-hover table-responsve-md table-bordered text-left'>\
                    <tr><th scope='row'>Date</th><td><span><input name='date' id='confirmDate' readonly></span></td></tr>\
                    <tr><th scope='row'>Number of Participant</th><td><span><input name='count' id='confirmCnt' readonly></span></td></tr>\
                    <tr><th scope='row'>Ptoduct Name</th><td><span><input name='' id='confirmProductName' readonly></span></td></tr>\
                    <tr class='hidden'><th scope='row'></th><td><span><input name='productId' id='confirmProductId' readonly></span></td></tr>\
                    </table>\
                    </form>",
          backdrop: true,
          centerVertical: true,
          show: false,
          buttons: {
            confirm: {
              label: '<i class="fa fa-check"></i> OK',
              className: 'btn-info'
            },
            cancel: {
              label: '<i class="fa fa-times"></i> Modify',
              className: 'btn-secondary'
            }
          },
          callback: function (result) {
            if (result) {
              $('#reservConf').submit();
            }
          },
        }) // bootbox.confirm
        box.on("shown.bs.modal", function () { // モーダルが開かれた直後に以下を実行する
          $('#confirmDate').text($('#selectedDate').val());
          $('#confirmDate').val($('#selectedDate').val());
          $('#confirmCnt').text($('#participantsNumber').val());
          $('#confirmCnt').val($('#participantsNumber').val());
          $('#confirmProductName').text($('#selectedProductName').val());
          $('#confirmProductName').val($('#selectedProductName').val());
          $('#confirmProductId').val($('#selectedProductId').val());
        });
        box.modal('show');
      })

      /* 選択日の初期表示を現在びに */
      let today = new Date();
      $('#selectedDate').val(today.toLocaleDateString());

      /* カレンダーのボタンが押下されても値段表示が消えないように */
      $('.fc-toolbar button').on('click', function () {
        showPrice();
      });

      /* マイナスボタン押下時 */
      $('#minus-counter').on('click', function () {
        let count = $('#participantsNumber').val();
        count--;
        if (count < 1) {
          $('#minus-counter').prop('disabled', true);
        }
        if (count < 9) {
          $('#plus-counter').prop('disabled', false);
        }
        $('#participantsNumber').val(count);
        culc();
      });

      /* プラスボタン押下時 */
      $('#plus-counter').on('click', function () {
        let count = $('#participantsNumber').val();
        count++;
        if (count > 0) {
          $('#minus-counter').prop('disabled', false);
        }
        if (count > 7) {
          $('#plus-counter').prop('disabled', true);
        }
        $('#participantsNumber').val(count);
        culc();
      });

      /* トータルの計算 */
      function culc() {
        let unitPrice = /*[[${productDetail.price}]]*/ 0;
        let participants = $('#participantsNumber').val();
        let totalPrice = unitPrice * participants;
        $('#total-price').text(totalPrice);
      }

      /* 金額表示 */
      function showPrice() {
        let price = /*[[${productDetail.price}]]*/ '';
        price.toString();
        price = '$' + price;
        $('tbody').find('.fc-day.fc-future').append('<span class="prix price"></span>');
        $('.prix').text(price);
      }

    });
    /*]]>*/
  </script>
</body>

</html>
