  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio OTA Admin</title>
  </head>

  <body id="page-top">
    <header th:insert="admin/header::header"></header>
    <!-- Page Wrapper -->
    <div id="wrapper" class="container">
      <div class="row">
        <div class="col-3" th:insert="admin/sidebar::sidebar"></div>
        <!-- Start of Content -->
        <div class="col-9 content-box w-100" id="admin-home" style="display: block;">
          <div class="container" style="padding: 10rem;">
            <h2 class="page-title">Your Account</h2>
            <form th:action="@{/portfolio/admin/modify}" method="post">
              <!-- <div class="img-area">
                        TODO adminのプロフィール画像追加＆変更機能
                        <img th:src="${'data:image/png;base64,'+image}"
                            th:class="${user.getUserImg().length == 0 ? 'hidden' : 'mypage-img'}">
                        <img src="/img/avator.png" alt="" th:class="${user.getUserImg().length == 0 ? 'mypage-img' : 'hidden'}">
                        <label id="file-btn" for="userImg" class="bg-primary text-white">Choose your photo</label>
                        <input type="file" name="file" id="userImg" style="display: none;">
                        <p id="selected-status" class="mt-1">[Not yet selcted]</p>
                    </div> -->
              <table class="table table-hover table-bordered table-responsive-md text-center" th:object="${admin}">
                <tr>
                  <th scope="col">Admin ID</th>
                  <td class="" th:text="*{id}"></td>
                </tr>
                <tr>
                  <th scope="col" style="width: 30%;">Admin Name</th>
                  <td class="normal" th:text="*{adminName}"></td>
                  <td class="modify hidden"><span><input type="text" name="adminName" th:value="*{adminName}"
                        th:placeholder="*{adminName}" style="width: 40%;" required></span></td>
                </tr>
                <tr>
                  <th scope="col">Password</th>
                  <td class="normal">●●●●●</td>
                  <td class="modify hidden"><span><input type="text" name="password" th:value="*{password}"
                        th:placeholder="*{password}" style="width: 40%;" required></span></td>
                </tr>
              </table>
              <div class="btn-area">
                <button id="modify-btn" class="btn mx-2 btn-info" type="button">Modify</button>
                <button id="cancel-btn" class="btn mx-2 btn-warning hidden" type="button">Cancel</button>
                <button id="submit-btn" class="btn mx-2 btn-primary hidden" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
        <!-- End of Content -->
      </div>

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <footer th:insert="admin/footer::footer"></footer>
    <script type="text/javascript" th:inline="javascript">
      /*<![CDATA[*/
      $(document).ready(function () {
        /* 修正ボタン押下時 */
        $('#modify-btn').on('click', function () {
          $('.normal').addClass('hidden');
          $('.modify').removeClass('hidden');
          $('#modify-btn').addClass('hidden');
          $('#cancel-btn').removeClass('hidden');
          $('#submit-btn').removeClass('hidden');
        });

        /*キャンセルボタン押下時*/
        $('#cancel-btn').on('click', function () {
          $('.normal').removeClass('hidden');
          $('.modify').addClass('hidden');
          $('#modify-btn').removeClass('hidden');
          $('#cancel-btn').addClass('hidden');
          $('#submit-btn').addClass('hidden');
        });

        /*修正完了ダイアログの初期化*/
        var dialog = bootbox.alert({
          message: '<p class="text-center mb-0">Your profile has been changed</p>',
          backdrop: true,
          centerVertical: true,
          show: false,
          callback: function () {
            location.replace('/portfolio/admin/home');
          }
        });

        /*admin情報更新後のアラート表示*/
        const completeMsg = /*[[${completeMsg}]]*/ '';
        console.log("completeMsg : " + completeMsg);
        if (completeMsg) {
          dialog.modal('show');
        }
      })
          /*]]>*/
    </script>
  </body>

  </html>
