<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Portfolio OTA</title>
</head>

<body>
  <th:block th:fragment="footer">
        <!-- ↓webjars用jQueryの読み込み -->
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <!-- fullcalendar -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/bootstrap/main.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/interaction/main.min.js"></script>

        <!-- ↓webjars用Bootstrapの読み込み -->
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

        <!-- ↓jQuery UI JSの読み込み -->
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

        <!-- ↓Bootbox JS の読み込み -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.js"></script>

        <!-- owl-carousel -->
        <script th:src="@{/js/owl.carousel.min.js}"></script>
  </th:block>
</body>

</html>
