<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Portfolio OTA</title>
</head>

<body>
  <th:block th:fragment="header">
    <!-- ↓Bootstrap CSSの読み込み -->
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <!-- ↓webjars用font-awesomeの読み込み -->
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.1/css/all.min.css}">
    <!-- ↓font-awesome-animationの読み込み -->
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css"
      type="text/css" media="all" />
    <!-- ↓CSSの読み込み -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">

    <!-- ↓jQueryUIのCSS読み込み -->
    <link rel="stylesheet" href="/css/custom-theme/jquery-ui-1.10.0.custom.css">

    <!-- ↓Owl Carousel -->
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">

    <!-- fullcalendar -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/bootstrap/main.min.css" />

    <nav id="header" class="navbar navbar-expand-lg navbar-light container" style="line-height: 2rem;">
      <a th:href="@{/portfolio/admin/home}"></a>
      <h1 id="top-logo">adview<i class="fas fa-user-cog ml-3"></i></h1>
    </nav>

  </th:block>


</body>

</html>
