<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Portfolio OTA Admin</title>
</head>

<body id="home">
  <header th:insert="admin/header::header"></header>
  <!-- Page Wrapper -->
  <div id="wrapper" class="container" style="margin-top: 5rem;">
    <h2 class="page-title">Menu</h2>
    <div class="row">
      <div class="col-4">
        <div class="card-margin">
          <a th:href="@{/portfolio/admin/account}">
            <div class="icon">
              <i class="fas fa-2x fa-id-card"></i>
            </div>
            <div class="card-title">
              <h1>Account Info</h1>
            </div>
            <div class="card-text">
              <p>See your personal info</p>
            </div>
          </a>
        </div>
      </div><!-- col -->
      <div class="col-4">
        <div class="card-margin">
          <a th:href="@{/portfolio/admin/user}">
            <div class="icon">
              <i class="fas fa-2x fa-users"></i>
            </div>
            <div class="card-title">
              <h1>Users</h1>
            </div>
            <div class="card-text">
              <p>See your users' info</p>
            </div>
          </a>
        </div>
      </div><!-- col -->
      <div class="col-4">
        <div class="card-margin">
          <a th:href="@{/portfolio/admin/product}">
            <div class="icon">
              <i class="fas fa-2x fa-file-signature"></i>
            </div>
            <div class="card-title">
              <h1>Products</h1>
            </div>
            <div class="card-text">
              <p>See your products' info</p>
            </div>
          </a>
        </div>
      </div><!-- col -->
    </div>
    <div class="row">
      <div class="col-4">
        <div class="card-margin">
          <a th:href="@{/portfolio/admin/reservation}">
            <div class="icon">
              <i class="far fa-2x fa-calendar-alt"></i>
            </div>
            <div class="card-title">
              <h1>Reservations</h1>
            </div>
            <div class="card-text">
              <p>See reservations</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-4">
        <div class="card-margin">
          <a th:href="@{/portfolio/admin/testimonial}">
            <div class="icon">
              <i class="fas fa-2x fa-comments"></i>
            </div>
            <div class="card-title">
              <h1>Testimonials</h1>
            </div>
            <div class="card-text">
              <p>See testimonials</p>
            </div>
          </a>
        </div>
      </div><!-- col -->
      <div class="col-4">
        <div class="card-margin">
          <a th:href="@{/portfolio/admin/notice}">
            <div class="icon">
              <i class="fas fa-2x fa-bullhorn"></i>
            </div>
            <div class="card-title">
              <h1>Notices</h1>
            </div>
            <div class="card-text">
              <p>See your notices</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <footer th:insert="admin/footer::footer"></footer>
  <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    /*]]>*/
  </script>
</body>

</html>
