<!DOCTYPE html>
<html>

<head>
	<title>Bootstrap Admin Theme v3</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link href="/css/admin/bootstrap.min.css" rel="stylesheet">
	<!-- styles -->
	<link href="/css/admin/styles.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body class="login-bg">
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<!-- Logo -->
					<div class="logo">
						<h1><a href="index.html">Bootstrap Admin Theme</a></h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page-content container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="login-wrapper">
					<div class="box">
						<div class="content-wrap">
							<h6>Sign In</h6>
							<!-- <div class="social">
								<a class="face_login" href="#">
									<span class="face_icon">
										<img src="images/facebook.png" alt="fb">
									</span>
									<span class="text">Sign in with Facebook</span>
								</a>
								<div class="division">
									<hr class="left">
									<span>or</span>
									<hr class="right">
								</div>
							</div> -->
							<input id="adminName" class="form-control" type="text" placeholder="Admin ID" name="adminName">
							<input id="password" class="form-control" type="password" placeholder="Password" name="password">
							<div class="action">
								<button id="login-btn" class="btn btn-primary signup" type="button">Login</button>
							</div>
						</div>
					</div>

					<div class="already">
						<p>Don't have an account yet?</p>
						<a href="signup.html">Sign Up</a>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/js/admin/bootstrap.min.js"></script>
	<script src="/js/admin/custom.js"></script>

	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function () {
			$('#login-btn').on('click', function () {
				console.log($('#adminName').val());
				let jsonString = {
					"adminName": $('#adminName').val(),
					"password": $('#password').val()
				}
				$.ajax({
					type: 'POST',
					url: '/portfolio/admin/login',
					data: JSON.stringify(jsonString),
					contentType: 'application/json',
					dataType: 'json'
				}).done(function (bool) {
					if (bool) {
						location.replace('/portfolio/admin/home')
					} else {
						bootbox.alert({
							message: 'Your login info is not correct. Please make sure your input.',
							backdrop: true,
							centerVertical: true
						})
					}
				}).fail(function () {
					console.log('Error: ajax通信に失敗しました');
				}).always(function () {
					console.log("ajax通信しました");
				})

			})
		});

		/*]]>*/
	</script>

</body>

</html>
