<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Portfolio OTA Admin</title>
</head>

<body id="home">
  <header th:insert="admin/header::header"></header>
  <!-- Page Wrapper -->
  <div id="wrapper" class="container" style="margin-top: 5rem;">
    <h2 class="page-title">Menu</h2>
    <div class="row">

  </div>
  <!-- End of Page Wrapper -->


  <footer th:insert="admin/footer::footer"></footer>
  <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    /*]]>*/
  </script>
</body>

</html>
