<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Portfolio OTA Admin</title>
</head>

<body id="notice">
  <header th:insert="admin/header::header"></header>
  <!-- Page Wrapper -->
  <div id="wrapper" class="container">
    <div class="row">
      <header class="col-3" th:insert="admin/sidebar::sidebar"></header>
      <div class="col-9">
        <div class="page-title-area d-flex">
          <h2 class="page-title">Notices</h2>
          <button id="create-btn" type="button" class="btn btn-info">Create</button>
        </div>
        <table class="table table-hover table-bordered table-responsive-md text-center" th:if="${notices.size() > 0}">
          <thead class="thead-light">
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Title</th>
            </tr>
          </thead>
          <tbody>
            <tr id="boxes" th:each="notice : ${notices}" th:object="${notice}">
              <td th:text="*{#dates.format(new java.util.Date(createdAt), 'yyyy-MM-dd hh:mm')}"></td>
              <td><a th:href="@{/portfolio/admin/notice/{id} (id=*{id})}" th:text="*{title}"
                  style="display: block;"></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <footer th:insert="admin/footer::footer"></footer>
  <script th:inline="javascript" th:src="@{/js/admin/notice.js}"></script>
</body>

</html>
