<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Portfolio OTA Admin</title>
</head>

<body id="admin-reservation">
  <header th:insert="admin/header::header"></header>
  <!-- Page Wrapper -->
  <div id="wrapper" class="container">
    <div class="row">
      <header class="col-3" th:insert="admin/sidebar::sidebar"></header>
      <div class="col-9">
        <div class="page-title-area d-flex">
          <h2 class="page-title">reservations</h2>
          <div class="btn-area">
            <a th:href="@{/portfolio/admin/reservation}" id="list-btn" class="btn"><i class="far fa-2x fa-list-alt"></i></a>
          </div>
        </div>
        <!-- カレンダー -->
        <div class="container">
          <div id="calendar"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Page Wrapper -->

  <footer th:insert="admin/footer::footer"></footer>
  <script th:inline="javascript" th:src="@{/js/admin/reservation.js}"></script>
</body>

</html>
