<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Portfolio OTA</title>
</head>

<body>
  <th:block th:fragment="sidebar">

    <ul class="navbar-nav sidebar " id="sidebar">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/portfolio/admin/home}"><span>Account</span></a>
      </li>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link" th:href="@{/portfolio/admin/user}"><span>Users</span></a>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link" th:href="@{/portfolio/admin/product}"><span>Products</span></a>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link" th:href="@{/portfolio/admin/reservation}"><span>Reservations</span></a>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link" th:href="@{/portfolio/admin/testimonial}"><span>Testimonials</span></a>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link" th:href="@{/portfolio/admin/home}"><span>Notices</span></a>
      </li>

    </ul>

  </th:block>
</body>

</html>
